<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Retos Bootcamp 2019</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> -->

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="icon" type="image/png" href="img/pp.jpg">
    <link href="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="css/resume.min.css" rel="stylesheet">

</head>

<body id="body">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Jhonatan Sosapanta</span>
            <span class="d-none d-lg-block">
                <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/perfil.png" alt="">
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="index.html">Retos Bootcamp 2019</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="Reto1.html">Reto 1</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="Reto2.html">Reto 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="Reto3.html">Reto 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="Reto4.html">Reto 4</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger active" href="Reto5.html">R</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid p-0">
        <section class="resume-section p-3 p-lg-5 d-flex justify-content-center">
                <div class="container" id="app">
                    <div class="text-center"><h2>{{titulo}}</h2></div>
                    <br>
                    <vs-button color="success" type="filled" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">+ Agregar articulo</vs-button>
                    <br>
                    <br>
                    <br>
                    <table class="table table-responsive table-bordered">
                        <thead>
                            <tr>
                                <th style="width: 10%">Codigo</th>
                                <th style="width: 30%">Nombre</th>
                                <th style="width: 20%">Cantidad</th>
                                <th style="width: 20%">Precio</th>
                                <th style="width: 20%">Subtotal</th>
                                <th style="width: 20%">Accion</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="producto in productos" :key="producto.id">
                                <td v-text="producto.id"></td>
                                <td v-text="producto.nombre"></td>
                                <td v-text="producto.cantidad"></td>
                                <td v-text="producto.precio"></td>
                                <td v-text="producto.subtotal"></td>
                                <td><button @click="eliminarProducto(producto)">Eliminar</button></td>
                            </tr>
                        </tbody>
                    </table>
                    <super-componente v-bind:res="resultado"></super-componente>
                    <template>
                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h5 class="modal-title" id="exampleModalLabel">Nuevo producto</h5>
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                          </button>
                                        </div>
                                        <div class="modal-body">
                                          <form>
                                            <div class="form-group">
                                              <label class="col-form-label">Nombre:</label>
                                              <input type="text" v-model="nombre" class="form-control">
                                            </div>
                                            <div class="form-group">
                                              <label class="col-form-label">Cantidad:</label>
                                              <input type="number" v-model="cantidad" class="form-control">
                                            </div>
                                            <div class="form-group">
                                              <label class="col-form-label">Precio:</label>
                                              <input type="number" v-model="precio" class="form-control">
                                            </div>
                                          </form>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                          <button type="button" class="btn btn-success" @click="agregarProducto">Agregar producto</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                    </template>    
              </div>
        </section>

    </div>
    
    <!-- <script src="vendor/jquery/jquery.min.js"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Vuesax estilos css para VUE-->

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuesax/dist/vuesax.umd.js"></script>
    <script src="https://unpkg.com/vue-select@latest"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/resume.min.js"></script>

    <!-- Logica ejercicios -->
    <script src="js/script4.js"></script>

</body>

</html>